<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning</title>
    <link rel="stylesheet" href="../../diseño.css" type="text/css">
</head>
<body>
    <header>
        <br>
        <h1>Machine Learning</h1>
    </header>
    <nav>
        <a href="https://www.apd.es/que-es-machine-learning/" > Machine Learning</a>
        <a href="https://blog.adext.com/machine-learning-guia-completa/"> Tipos de machine learning</a>
        <a href="https://blog.adext.com/machine-learning-guia-completa/">¿Cómo funciona?</a>
    </nav>
    <section>
        <div id="text1"> 
            <p>
                <img src="../../img/ml2.jpg" alt="50px">
                <h3>Machine Learning</h3>
                es una disciplina científica del ámbito de la Inteligencia Artificial que crea sistemas que aprenden automáticamente. 
                Aprender en este contexto quiere decir identificar patrones complejos en millones de datos. La máquina que realmente aprende es un algoritmo que revisa los datos y es capaz de predecir comportamientos futuros. Automáticamente, también en este contexto, implica que estos sistemas se mejoran de forma autónoma con el tiempo, sin intervención humana. Veamos cómo funciona.
                Es una tecnología que permite hacer automáticas una serie de operaciones con el fin de reducir la necesidad de que intervengan los seres humanos. Esto puede suponer una gran ventaja a la hora de controlar una ingente cantidad de información de un modo mucho más efectivo.
                Lo que se denomina aprendizaje consiste en la capacidad del sistema para identificar una gran serie de patrones complejos determinados por una gran cantidad de parámetros.
                Es decir, la máquina no aprende por sí misma, sino un algoritmo de su programación, que se modifica con la constante entrada de datos en la interfaz, y que puede, de ese modo, predecir escenarios futuros o tomar acciones de manera automática según ciertas condiciones. Como estas acciones se realizan de manera autónoma por el sistema, se dice que el aprendizaje es automático, sin intervención humana.
            </p>
        </div>
        <div id="text2">
            <p>
                <img id="img2" src="../../img/gif1.gif" alt="50%">
                <h3>El nacimiento del machine learning</h3>
El machine learning, conocido en español como aprendizaje automático o aprendizaje de máquina, nació como una idea ambiciosa de la IA en la década de los 60. Para ser más exactos, fue una subdisciplina de la IA, producto de las ciencias de la computación y las neurociencias.

Lo que esta rama pretendía estudiar era el reconocimiento de patrones (en los procesos de ingeniería, matemáticas, computación, etc.) y el aprendizaje por parte de las computadoras. En los albores de la IA, los investigadores estaban ávidos por encontrar una forma en la cual las computadoras pudieran aprender únicamente basándose en datos.


            </p>
        </div>
        <div id="text3">
            <p>
                <img src="../../img/gif2.gif" alt="50px">
                <h3>¿Cómo funciona?</h3>
                
El principal objetivo de todo aprendiz (learner) es desarrollar la capacidad de generalizar y asociar. Cuando traducimos esto a una máquina o computadora, significa que éstas deberían poder desempeñarse con precisión y exactitud, tanto en tareas familiares, como en actividades nuevas o imprevistas.

¿Y cómo es posible esto? Haciendo que repliquen las facultades cognitivas del ser humano, formando modelos que “generalicen” la información que se les presenta para realizar sus predicciones. Y el ingrediente clave en toda esta cuestión son los datos.

En realidad, el origen y el formato de los datos no es tan relevante, dado que el machine learning es capaz de asimilar una amplia gama de éstos, lo que se conoce como big data, pero éste no los percibe como datos, sino como una enorme lista de ejemplos prácticos.

Podríamos decir que sus algoritmos se dividen principalmente en tres grandes categorías: supervised learning (aprendizaje supervisado), unsupervised learning (aprendizaje no supervisado) y reinforcement learning (aprendizaje por refuerzo). A continuación, detallaremos las diferencias entre éstas.
                
            </p>
        </div>
        <p id="Ref">Referencias: </p>
        <p id="Ref">Redacción APD, 2019, ¿Qué es Machine Learning y cómo funciona?, Tomado de: https://www.apd.es/que-es-machine-learning/</p>
        <p id="Ref">  Adext AI, ¿Qué es machine learning? [Guía completa para principiantes], Tomado de: https://blog.adext.com/machine-learning-guia-completa/</p>
    </section>
</body>
</html>